*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish,Helvetica, Arial, Sans-Serif, serif
}

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 118px;
    width: 100%;
    padding: 40px 0 40px 0;
}



.welcome {
    background-image: url('img/bg_welcome.jpg');
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 377px;
    position: relative; 
    font-size: 30px;
}

.welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:initial;
}

.welcome > h2{
    color: #fff;
    margin-left: 20px;
    position: absolute;
    transform: translateY(-50px);
    animation: slide-in 0.8s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.about-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 2em 0;
    background-color: #fff;
    height: 507px;
    width: 100%;
    font-size: 20px;
}


.laptop-img{
    height: 18em;
    border-radius: 1em;
    margin-right: 1em;
    box-shadow: 3px 2px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;

}

.laptop-img:hover{ transform: scale(1.1); }

.about-me > .img{
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-me > .text{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 30px;
    text-align: left;
    flex-direction: column;
    gap: 20px;
}

.hobbies{
    /* background-color: rgb(84, 89, 122); */
    display: flex;
    align-items: left;
    justify-content:start;
    flex-direction: column;
    padding: 15px 108px;
    gap: 20px;
    background-color: rgb(38, 50, 56);
    color: #fff;
    height: 600px;
}

.hobbies > h2{
    font-size: 40px;
}


.blocks{
    display: flex;
    align-items: start;
    justify-content:space-between;
    margin-top: 10px;
    height: 450px;
}

.blocks > * >h3{
    font-size: 30px;
}

.hb1, .hb2, .hb3, .hb4{
    height: 400px;
    width: 250px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding: 15px;
    background-color: rgb(84, 89, 122);
    box-sizing: border-box;
    margin: 7px;
    box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.hb1:hover, .hb2:hover, .hb3:hover, .hb4:hover{ transform: scale(1.1); }


.goals{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.goals-text > h2, .education-text > h2, .sport-text > h2{
    font-size: 40px;
}

.goals-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 400px;
    width: 30%;
    background-color: #fff;
}

.goals-text > p, .education-text > p, .education-text > ul > li, .sport-text > p{
    font-size: 20px;
}

.goals > img{
    height: 840px;
}

.education, .sport{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    width: 100%;
}

.education{
    background-color: rgb(38, 50, 56);
}

.sport{
    background-color: #fff;
}

.education > img{
    height: 600px;
    border-radius: 1em;
}


.education-text, .sport-text{
    height: 400px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.education-text{
    background-color: rgb(38, 50, 56);
    margin-left: 90px;
    color: #fff;
}

.sport-text{
    background-color: #fff;
    margin-right: 100px;
    color: #000;
}

.kobe-img{
    height: 600px;
    width: 800px;
    background-image: url("img/kobe1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    transition: transform 0.5s ease;
}

.kobe-img:hover { transform: scale(1.1); }

.space{
    margin: 10px 0 10px 0;
}

.list{
    margin-left: 50px;
}


footer{
    padding-top: 20px;
    background-color: rgb(38, 50, 56);
    color: #fff;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
  
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  a:hover::after {
    width: 100%;
    left: 0;
  }

  footer > h2{
    font-size: 30px;
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }